/*global style*/
body {
    background: black;
    color: white;
    font-family: "Bricolage Grotesque", sans-serif;
}

ul{
    list-style: none;
    color: white;
}

ul li a{
    text-decoration: none;
    color: white;
    padding-left: 0rem;
    font-size: 1.5rem;
    font-weight: 600;
    transition: all .5s ease-out;
}

ul li:hover a{
    color:#D90050;
    /* transform: scale(1.25, 1.25); */
    font-size: 1.7rem;
    transition: all .5s ease-in;
}

#pagecontainer {
    max-width: 1200px;
    max-height: 750px;
    margin: auto;
    padding: 2rem;
}

/*Note that I used gridbox as a way to practice it. I still think I need more practice, however, as this was only possible due to referencing old projects and explenations online. */

/*header*/
#banner {
    border-bottom: 2px solid white;
    border-top: 2px solid white;
}

.header-grid {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: end;
    gap: 2rem;
}

/*scrolling square*/
.logo-mask {
    width: 160px;
    height: 160px;
    border: 3px solid white;
    overflow: hidden;
    position: relative;
}

/*Explenation: Repeating linear gradient achieves the square look im going for, and I shortened the animation notation to all be in one line. If I wanted it to be simpler, i'd use animation name, duration, etc. Sicne it's meant to be automatic, it's set to repeat infinitely. The actual size of the gradient being 200% is so that even if it scrolls, there's no empty space. It's not actually repeating infinitely like it seems, but it's a good way to trick it. */

.logo-scroll {
    width: 200%;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background: repeating-linear-gradient(
        45deg,
        white 0 10px,
        black 10px 20px
    );
    animation: scroll 6s linear infinite;
}

@keyframes scroll {
    from { transform: translateX(0); }
    to   { transform: translateX(-50%); }
}

/*text*/
.header-text h1 {
    font-size: 3.2rem;
    margin: 0;
}

.header-text h2 {
    font-size: 1.6rem;
    font-weight:400;
    margin-bottom: 1rem;
    letter-spacing: .35rem;
}


/*arrows*/
.arrows img {
    width: 96px;
    cursor: pointer;
    transition: filter 0.3s;
    
}

/* This makes the arrows dissapear when pressed, which is the click interaction. */

input:checked + label img {
    filter: invert(1);
}

/*main*/
main {
    margin: 2.5rem 0;
}

.projects {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}

/*columns*/
.column {
    border: 2px solid white;
    padding:.5rem;
}

/*nav column*/
.nav p {
    font-family: "Space Grotesk", sans-serif;
    margin-bottom: 1.5rem;
    font-weight: bold;
}

/*cards*/
.card {
    background: black;
}

.card h3 {
    margin-bottom: 1rem;
    font-size: 1.4rem;
    letter-spacing: 0.05em;
}

.card p {
    font-family: "Space Grotesk", sans-serif;
    font-size: 0.95rem;
    line-height: 1.5;
}


/*footer*/
footer {
    margin-top: 4rem;
}

.subject-row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}

/*striped banner*/
.subject {
    background:
        repeating-linear-gradient(
            -45deg,
            white 0 8px,
            black 8px 16px
        );
    padding-top: 20px;
}



.subject h2{
    font-size: 1.6rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.subject p{
    font-family: "Space Grotesk", sans-serif;
    padding: 1rem;
    font-size: 1.1rem;
}

.subject h2,
.subject p {
    background: rgb(255, 255, 255);
    color: black;
    margin: 0;
}

.credit {
    margin-top: 2rem;
    font-size: 0.9rem;
}


/*Some overall notes: I'm using rem so I can adjust things easier on the fly and so i'm not limtied to specific pixels. I also tried my best to avoid too much complication since a lot of my effort was on grid. I wanted to figure out how to get my header to look exactly as it does in photoshop, but I think i'd need to actually write down the grid values per box (like doing B,C,C,F, etc), and I didn't find that effort to be worht it when generally it look fine regardless. */