/*global style*/
body {
    background: black;
    color: white;
    font-family: "Bricolage Grotesque", sans-serif;
}

ul{
    list-style: none;
    color: white;
}

ul li a{
    text-decoration: none;
    color: white;
    padding-left: 0rem;
    font-size: 1.6rem;
    font-weight: 600;
    transition: all .5s ease-out;
}

ul li:hover a{
    color:#D90050;
    /* transform: scale(1.25, 1.25); */
    font-size: 1.7rem;
    transition: all .5s ease-in;
}

#pagecontainer {
    max-width: 1200px;
    max-height: 750px;
    margin: auto;
    padding: 2rem;
}

/*header*/
#banner {
    border-bottom: 2px solid white;
    border-top: 2px solid white;
}

.header-grid {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: end;
    gap: 2rem;
}

/*scrolling square*/
.logo-mask {
    width: 160px;
    height: 160px;
    border: 3px solid white;
    overflow: hidden;
    position: relative;
}

.logo-scroll {
    width: 200%;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background: repeating-linear-gradient(
        45deg,
        white 0 10px,
        black 10px 20px
    );
    animation: scroll 6s linear infinite;
}

@keyframes scroll {
    from { transform: translateX(0); }
    to   { transform: translateX(-50%); }
}

/*text*/
.header-text h1 {
    font-size: 3.2rem;
    margin: 0;
}

.header-text h2 {
    font-size: 1.6rem;
    font-weight:400;
    margin-bottom: 1rem;
    letter-spacing: .35rem;
}

/*arrows*/
.arrows img {
    width: 96px;
    cursor: pointer;
    transition: filter 0.3s;
    
}

input:checked + label img {
    filter: invert(1);
}

/*main*/
main {
    margin: 2.5rem 0;
}

.projects {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}

/*columns*/
.column {
    border: 2px solid white;
    padding:.5rem;
}

/*nav column*/
.nav p {
    font-family: "Space Grotesk", sans-serif;
    margin-bottom: 1.5rem;
    font-weight: bold;
}

/*cards*/
.card {
    background: black;
}

.card h3 {
    margin-bottom: 1rem;
    font-size: 1.4rem;
    letter-spacing: 0.05em;
}

.card p {
    font-family: "Space Grotesk", sans-serif;
    font-size: 0.95rem;
    line-height: 1.5;
}


/*footer*/
footer {
    margin-top: 4rem;
}

.subject-row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}

/*striped banner*/
.subject {
    background:
        repeating-linear-gradient(
            -45deg,
            white 0 8px,
            black 8px 16px
        );
    padding-top: 20px;
}



.subject h2{
    font-size: 1.6rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.subject p{
    font-family: "Space Grotesk", sans-serif;
    padding: 1rem;
    font-size: 1.1rem;
}

.subject h2,
.subject p {
    background: rgb(255, 255, 255);
    color: black;
    margin: 0;
}

.credit {
    margin-top: 2rem;
    font-size: 0.9rem;
}
