body{
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-left: 6rem;
    margin-right: 6rem;
    font-family: "Inter", sans-serif;;
}

.textcontainer{
    text-align: center;
}

h1{
    font-size: 4.5rem;
    font-weight: 500;
    text-align: center;
}

h2{
    font-size: 1.5rem;
    font-weight: normal;
}