

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Bricolage Grotesque", sans-serif;
  background-color: #1c1c1c;
  color: #f2f2f2;
  line-height: 1;
}

.page{
  max-width: 1200px;
  margin:0;
  max-height: 750px;
}

header {
  text-align: center;
  padding: .5rem
}

header h1 {
  font-size: 2rem;
  font-weight: 500;
}

header h2 {
  margin-top: 0.75rem;
  font-size: 1rem;
  color: #cfcfcf;
}

main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem 2rem;
}


.card {
  display: grid;
  grid-template-columns: 260px 1fr;
  border: 1px solid #d9d9d9;
  min-height: 420px;
}


.media-column {
  border-right: 1px solid #d9d9d9;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.media-column img {
  width: 100%;
  /* aspect-ratio: 1 / 1; */
  object-fit: cover;
}

/* Form layout */

form {
  padding: 2rem;
  display: flex;
  flex-direction: column;
}

.form-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3rem;
  row-gap: 1.25rem;
}

/* fields */

.form-grid div {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

label {
  font-size: 0.75rem;
  color: #d0d0d0;
}

/* input*/

input[type="text"] {
  background-color: transparent;
  border: 1px solid #9a9a9a;
  background-color: #303030;
  color: #ffffff;
  border-radius: 12px;
  padding: 0.4rem 0.5rem;
  font-size: 0.85rem;
}

input[type="text"]:focus {
  outline: none;
  border-color: #ffffff;
}



input[type="submit"] {
  margin-top: 2.5rem;
  padding: 0.75rem 2rem;
  background-color: transparent;
  border: 1px solid #ffffff;
  border-radius: 30px;
  color: #ffffff;
  font-size: 0.9rem;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #ffffff;
  color: #353535;
}

/* The story text */

.story{
  max-width: 100%;
  line-height: 1.5;
  font-size: 1.8rem;
  padding: 3rem;
  word-wrap: break-word;
  overflow-wrap: break-word;
  display: block;
}

/* Overlay css */

#madlib-overlay {
  display: none;
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1000;
  justify-content: center;
  align-items: center;
}

/* A toggle */

.hidden {
  display: none;
}

.visible {
  display: flex;
}

/* query */
@media (max-width: 475px) {
  main {
    padding: 0 1rem 2rem;
  }

  .card {
    grid-template-columns: 1fr;
  }

  .media-column {
    border-right: none;
    border-bottom: 1px solid #d9d9d9;

    
    flex-direction: row;
    gap: 1rem;
    padding: 1.25rem;
  }

  .media-column img {
    width: 100%;
    max-width: 120px; 
  }

  form {
    padding: 1.5rem;
  }

  .form-grid {
    grid-template-columns: 1fr;
    column-gap: 0;
  }

  .story {
    padding: 1.5rem;
    font-size: 1.05rem; 
  }

  header h1 {
    font-size: 2.1rem;
  }
}
